.main-login-div {
  background-image: url("http://chitrahandicraft.com/wp-content/uploads/2019/02/login-page-background-images-hd-10.jpg");
  background-size: 100% 120%;
  height: 100vh;
  width: 100vw;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}
.main-login-div .header {
  height: 70px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(87, 87, 87, 0.5);
  background-color: rgba(168, 168, 168, 1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main-login-div .head_text {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.main-login-div .login {
  position: relative;
  height: 350px;
  width: 270px;
  background-image: linear-gradient(
    to bottom,
    rgba(47, 0, 255, 0.705),
    rgba(47, 0, 255, 0.705),
    rgba(0, 247, 255, 0.678)
  );
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.568);
}
.main-login-div .login_text {
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 10px;
  background-color: rgb(124, 0, 128);
  height: 70px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main-login-div label {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 40px;
  padding: 3px;
}
.main-login-div input[type="text"],
.main-login-div input[type="password"] {
  height: 30px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px groove white;
  background-color: transparent;
}
.main-login-div input:focus {
  outline: none;
  color: white;
}
.main-login-div ::placeholder {
  color: rgba(255, 255, 255, 0.432);
}
.main-login-div button {
  color: white;
  font-size: 23px;
  margin-top: 40px;
  margin-left: 80px;
  background-color: rgb(124, 0, 128);
  padding: 5px;
  outline: none;
}
.main-login-div button:hover {
  background-color: transparent;
}
.main-login-div #icon_login {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes example {
  to {
    transform: rotate(360deg);
  }
}
